# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# MacOS:
*.DS_Store

# Application-generated:
email-client-app/flask_session/
email-client-app/instance/

# Personal folders for testing purposes:
*testing/

