/* CSS variables: */
:root {
  /* Height of the navbar:
  * (this value will not define the height. Rather, it is needed to set
  *  the paddings of elements below it) */
  --navbar-height: 48px;

  --shadow-color: rgba(0, 0, 0, .2);

  /* For the center column: */
  --distance-left: 2rem;
  --distance-right: 1.2rem;
  /* Margin of the selection box: */
  --margin-of-selection: 0.6rem;

  --navbar-color: #333;
}


body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}


/*
* Sidebars
*/

.sidebars-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - var(--navbar-height));
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar {
  padding: var(--navbar-height) 0 0;  /* Height of navbar */
  box-shadow: inset -1px 0 0 var(--shadow-color);  /* Vertical line on the right */
}

/* First .sidebar child of the .sidebars .row class: */
.sidebars-container .row > .sidebar:first-child {
  background-color: rgba(108, 117, 125, 0.15); /* light grey background */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

.sidebar .small-message {
  display: block;
  padding: 0.5rem 1rem;
  font-style: italic;
}


/* 
* Middle column
*/

.list-group-item {
  background-color: transparent;
  border: 0;
  padding-left: var(--distance-left);
  padding-right: var(--distance-right);
}

.list-group-item:hover {
  box-shadow: inset -1px 0 0 var(--shadow-color);
}

.list-group-item:not(.active):hover {
  /* Remove the change of color on hover: */
  color: inherit;
}

.list-group-item.active {
  width: calc(100% - var(--margin-of-selection) * 2);
  margin-left: var(--margin-of-selection);
  margin-right: var(--margin-of-selection);
  padding-left: calc(var(--distance-left) - var(--margin-of-selection));
  padding-right: calc(var(--distance-right) - var(--margin-of-selection));
  /* To make the background corners round: */
  border-radius: 0.5rem;

  /* background-color: var(--bs-list-group-active-bg); /* activated by default - blue background */
  background-color: rgba(108, 117, 125, 0.20); /* light grey background - if inactive */
  color: var(--bs-list-group-color);  /* black text like all others */

  /* Disable shadow: */
  box-shadow: none;

  /* background-color: var(--bs-secondary); /* medium grey text (so quite light) */
  /* color: var(--bs-list-group-action-color);  /* lighter */
}

.horizontal-divider {
  height: 0;
  margin-left: var(--distance-left);
  margin-right: var(--distance-right);
  border-bottom: 1px solid var(--bs-list-group-border-color);
}



/*
* Main content
*/

[role="main"] {
  padding-top: var(--navbar-height);
}


/*
* Navbar
*/

.navbar {
  /* background-color: rgb(122, 188, 223);  /* rgb(88, 195, 253); */
  background-color: rgb(217, 230, 251);
  box-shadow: 0 1px 3px var(--shadow-color);
}

#navbar-email {
  display: block;
  padding: 0.2rem 0.4rem;
  margin: 0.6rem 0 0.6rem 0.8rem;
  font-size: 0.95rem;
  text-decoration: none;
  color: var(--navbar-color);
  font-weight: 500;
}

#navbar-email:hover {
  text-decoration: none;
  /* color:rgba(255, 255, 255, .9); */
  cursor: pointer;
}

#navbar-logo {
  width: 45px;
  height: 40px;
  margin-left: 0.4rem;
}

.logout {
  color: var(--navbar-color);
}

.logout:hover {
  color: var(--navbar-color);
  text-decoration: underline;
}

.tooltip {
  /* Overwrite some tooltip variables: */
  --bs-tooltip-font-size: 0.7rem;
  --bs-tooltip-bg: #ffffff;  /* e9eaec */
  --bs-tooltip-color: inherit;
  --bs-tooltip-opacity: .8;
}
/* Other .tooltip variables: */
/* 
.tooltip {
  --bs-tooltip-zindex: 1080;
  --bs-tooltip-max-width: 200px;
  --bs-tooltip-padding-x: 0.5rem;
  --bs-tooltip-padding-y: 0.25rem;
  --bs-tooltip-margin: ;
  --bs-tooltip-font-size: 0.875rem;
  --bs-tooltip-color: #fff;
  --bs-tooltip-bg: #000;
  --bs-tooltip-border-radius: 0.375rem;
  --bs-tooltip-opacity: 0.9;
  --bs-tooltip-arrow-width: 0.8rem;
  --bs-tooltip-arrow-height: 0.4rem;
  z-index: var(--bs-tooltip-zindex);
  display: block;
  padding: var(--bs-tooltip-arrow-height);
  margin: var(--bs-tooltip-margin);
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  white-space: normal;
  word-spacing: normal;
  line-break: auto;
  font-size: var(--bs-tooltip-font-size);
  word-wrap: break-word;
  opacity: 0;
} */


