/* CSS variables: */
:root {
  /* Height of the navbar:
  * (this value will not define the height. Rather, it is needed to set
  *  the paddings of elements below it) */
  --navbar-height: 48px;
}


body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}


/*
* Sidebars
*/

.sidebars-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - var(--navbar-height));
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar {
  padding: var(--navbar-height) 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .2);
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

.sidebar .small-message {
  display: block;
  padding: 0.5rem 1rem;
  font-style: italic;
}

/*
* Content
*/

[role="main"] {
  padding-top: var(--navbar-height); /* Space for fixed navbar */
}


/*
* Navbar
*/

.navbar-email {
  display: block;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  color:rgba(255, 255, 255, .75);
}

.navbar-email:hover {
  text-decoration: none;
  color:rgba(255, 255, 255, .9);
}
