/* CSS variables: */
:root {
  /* Height of the navbar:
  * (this value will not define the height. Rather, it is needed to set
  *  the paddings of elements below it) */
  --navbar-height: 48px;

  --shadow-color: rgba(0, 0, 0, .2);

  /* For the center column: */
  --distance-left: 2rem;
  --distance-right: 1.2rem;
  /* Margin of the selection box: */
  --margin-of-selection: 0.6rem;
}


body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}


/*
* Sidebars
*/

.sidebars-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - var(--navbar-height));
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar {
  padding: var(--navbar-height) 0 0;  /* Height of navbar */
  box-shadow: inset -1px 0 0 var(--shadow-color);  /* Vertical line on the right */
}

/* First .sidebar child of the .sidebars .row class: */
.sidebars-container .row > .sidebar:first-child {
  background-color: rgba(108, 117, 125, 0.15); /* light grey background */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

.sidebar .small-message {
  display: block;
  padding: 0.5rem 1rem;
  font-style: italic;
}


/* 
* Middle column
*/

.list-group-item {
  background-color: transparent;
  border: 0;
  padding-left: var(--distance-left);
  padding-right: var(--distance-right);
}

.list-group-item:hover {
  box-shadow: inset -1px 0 0 var(--shadow-color);
}

.list-group-item:not(.active):hover {
  /* Remove change of color on hover: */
  color: inherit;
  background-color: var(--bs-list-group-bg);
}

.list-group-item.active {
  width: calc(100% - var(--margin-of-selection) * 2);
  margin-left: var(--margin-of-selection);
  margin-right: var(--margin-of-selection);
  padding-left: calc(var(--distance-left) - var(--margin-of-selection));
  padding-right: calc(var(--distance-right) - var(--margin-of-selection));
  /* Make background corners round: */
  border-radius: 0.5rem;

  /* background-color: var(--bs-list-group-active-bg); /* activated by default - blue background */
  background-color: rgba(108, 117, 125, 0.20); /* light grey background - if inactive */
  color: var(--bs-list-group-color);  /* black text like all others */

  /* Disable shadow: */
  box-shadow: none;

  /* background-color: var(--bs-secondary); /* medium grey text (so quite light) */
  /* color: var(--bs-list-group-action-color);  /* lighter */
}

.horizontal-divider {
  height: 0;
  margin-left: var(--distance-left);
  margin-right: var(--distance-right);
  border-bottom: 1px solid var(--bs-list-group-border-color);
}


/*
* Main content
*/

[role="main"] {
  padding-top: var(--navbar-height);
}


/*
* Navbar
*/

#navbar-email {
  display: block;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  color:rgba(255, 255, 255, .75);
}

#navbar-email:hover {
  text-decoration: none;
  color:rgba(255, 255, 255, .9);
  cursor: pointer;
}

