{% extends "layout.html" %}



{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">  <!-- dashboard CSS -->
{% endblock %}



{% block body %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="mr-0 navbar-email" href="{{ url_for('access_folder', folder='inbox') }}">Your email</a>
  
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    
    <!-- Column 1: the 2 sidebars -->
    <div class="col-sm-3 col-lg-4 sidebars-container">
      <div class="row">
        <!-- First sidebar -->
        <nav class="col-lg-4 d-none d-lg-block bg-light sidebar">
          <!--
            col-lg-4: 4 columns wide on large screens and wider.
            d-none is Bootstrap's "display: none" class, and
            d-lg-block is Bootstrap's "display: block" class for large screens and wider.
            The reason why we need both is because d-none is a responsive class, and d-lg-block is a breakpoint class.  Responsive classes are applied at all screen sizes, while breakpoint classes are only applied at the specified screen size and larger.
            bg-light: light grey background
            sidebar: custom CSS (for both sidebars in common)
          -->
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('access_folder', folder='inbox') }}">
                  <span data-feather="inbox"></span>
                  Inbox
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('access_folder', folder='sent') }}">
                  <span data-feather="send"></span>
                  Sent
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('access_folder', folder='drafts') }}">
                  <span data-feather="file"></span>
                  Drafts
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('access_folder', folder='bin') }}">
                  <span data-feather="trash-2"></span>
                  Bin
                </a>
              </li>
            </ul>
            
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Folders</span>
              <span class="d-flex align-items-center text-muted">  <!-- TODO- add JavaScript window popup to create a folder --> 
                <span data-feather="plus-circle"></span>
              </span>
            </h6>
            
            {% if user_folders %}
            <ul class="nav flex-column mb-2">
              {% for folder in user_folders %}
              <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ url_for('access_folder', folder=folder) }}">
                  <span data-feather="folder"></span> {{ folder }}
                </a>
              </li>
              {% endfor %}
            </ul>
            
            {% else %}
            <p class="text-muted small-message">You have no folders.</p>
            {% endif %}
            
          </div>
        </nav>
        
        <!-- Second sidebar -->
        <nav class="col-lg-8 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            
          </div>
        </nav>
        
      </div>  <!-- End of row that contains 2 sidebars -->
    </div>  <!-- End of column 1 -->
    
    <!-- Column 2: the Main area -->
    <main role="main" class="col-md-8 ml-sm-auto px-4">
      
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
      
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
      
      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
{% endblock %}



{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>  <!-- dashboard JS -->
{% endblock %}

