{% extends "layout.html" %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='mailbox.css') }}">
{% endblock %}


{% block body %}
  <div class="header container-fluid fixed-top flex-md-nowrap">
    <div class="row">

      <div class="col-4 col-lg-5 px-0">
        <div id="email-container">
          <div id="header-email" data-bs-toggle="tooltip" data-bs-placement="bottom" title="copy to clipboard"> 
            {{ session.email }}
          </div>
        </div>
      </div>

      <div class="col-8 col-lg-7">
        <div class="h-100 d-flex align-items-center">
          
          <div id="tools-container" class="flex-grow-1">
            <div id="header-tools"> 
              <button class="action btn btn-outline-primary btn-sm" id="create"> create new email </button>
              <button class="action btn btn-outline-primary btn-sm" id="delete"> bin </button>
              <button class="action btn btn-outline-primary btn-sm" id="move"> move to </button>
            </div>
          </div>
          
          <div>
              <a href="{{ url_for('logout') }}" class="nav-link py-0 logout text-nowrap">
                <span>Log out</span>
                <img id="header-logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" />
              </a>
          </div>

        </div>
      </div>
      
    </div>
  </div>

  <!-- Bootstrap Modals: -->

  <!-- Modal: to create a new folder -->
  <div class="modal fade" id="create-new-folder-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="create-new-folder-modal-label">New Folder</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <!-- Form to get the name of the new folder: -->
          <form>
            <div class="mb-3">
              <label for="folder-name" class="col-form-label">Folder name:</label>
              <input type="text" class="form-control" id="input-new-folder-name">
            </div>
          </form>  <!-- TODO- if the name already exists, disable the "Create" button, and show a red warning text below -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="area-below-header">
    <div class="row">
      
      <!-- Column 1: contains 2 sidebars -->
      <div class="sidebars-container col-md-4 col-lg-5">
        <div class="row">
          <!-- First sidebar -->
          <nav class="col-lg-4 d-none d-lg-block bg-lighter sidebar">
            <!--
              col-lg-4: 4 columns wide on large screens and wider.
              d-none is Bootstrap's "display: none" class.
              d-lg-block is Bootstrap's "display: block" class for large screens and wider.
              The reason why we need both is because d-none is a responsive class, and d-lg-block is a breakpoint class.  Responsive classes are applied at all screen sizes, while breakpoint classes are only applied at the specified screen size and larger.
              bg-light: light grey background. A tiny little bit darker background that this is: #f8f9fa. A Bootstrap class for a tiny little bit darker background than this is bg-lighter.
              sidebar: custom CSS (for both sidebars in common).
            -->
            <div class="sidebar-sticky">
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">
                Favorites
              </h6>

              <ul class="nav flex-column">
                <li class="nav-item">
                  <a id="inbox" class="nav-link folder" href="{{ url_for('mailbox', _anchor='inbox/') }}">  <!-- href="#inbox/" -->
                    <span data-feather="inbox"></span>
                    Inbox
                  </a>
                </li>
                <li class="nav-item">
                  <a id="sent" class="nav-link folder" href="{{ url_for('mailbox', _anchor='sent/') }}">  <!-- href="#sent/" -->
                    <span data-feather="send"></span>
                    Sent
                  </a>
                </li>
                <li class="nav-item">
                  <a id="drafts" class="nav-link folder" href="{{ url_for('mailbox', _anchor='drafts/') }}">  <!-- href="#drafts/" -->
                    <span data-feather="file"></span>
                    Drafts
                  </a>
                </li>
                <li class="nav-item">
                  <a id="bin" class="nav-link folder" href="{{ url_for('mailbox', _anchor='bin/') }}">  <!-- href="#bin/" -->
                    <span data-feather="trash-2"></span>
                    Bin
                  </a>
                </li>
              </ul>

              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>FOLDERS</span>
                <div class="d-flex align-items-center text-muted" id="new-folder" data-bs-toggle="modal" data-bs-target="#create-new-folder-modal">
                  <span data-feather="plus-circle"></span>
                </div>
              </h6>
              
              <div id="user-folders">
                <!-- JavaScript will add folders here -->
              </div>
              
            </div>
          </nav>
          
          <!-- Second sidebar -->
          <nav class="col-lg-8 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <div class="list-group list-group-flush mt-2" id="msg-list">
                <!--
                  list-group: list-group-items will be styled like cards (will have a border and a background color).
                  list-group-flush: remove borders between list group items.
                -->
                <!-- JavaScript will add email list here -->
              </div>
            </div>
          </nav>

        </div>  <!-- End of row that contains 2 sidebars -->
      </div>  <!-- End of column 1 -->
      
      

      <!-- Column 2: the Main area -->
      <main role="main" class="col col-md-8 col-lg-7 px-4">
        <!-- JavaScript will add email contents here -->
      </main>

    </div>
  </div>
{% endblock %}


{% block extra_js %}
  <script src="{{ url_for('static', filename='mailbox.js') }}"></script>
{% endblock %}

